body {
    font-family: 'Oxygen', sans-serif;
}
h1{
    font-size: 60px;
}
.orenged-title{
    color: rgb(0, 179, 149);
}
.colored-Q{
    color: rgb(0, 179, 149);
}
section{
    display: flex;
}
.half-witdh{
    width: 50%;
    padding-left: 5%;
}
.half-witdh img{
    width: 85%;
    padding-top: 8%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 179, 149), rgb(0, 136, 52);
}