body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.orenged-title{
    color: rgb(0, 179, 149);
}
.colored-Q{
    color: rgb(0, 179, 149);
    
}
section{
    display: flex;
    padding-bottom: 120px;
}
.half-witdh{
    width: 50%;
    padding-left: 6%;
}
.half-witdh img{
    width: 85%;
    padding-top: 8%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(cyan,teal);
    padding: 10px 40px;
    border-radius: 3px;
    color: white;
    font-weight: 800;
}
#top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#mid-discription{
    padding-top: 100px;
}
.mid-title{
    font-size: 40px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}